html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title #{title}

  body
    h1 #{title}
    #galery

  each script in scripts
    script(src="#{script}", type="text/javascript")
