doctype html

script(type="text/javascript", src="./prefixfree.min.js")
link(href="galery.css", rel="stylesheet")

// ul
//   each img in ponies
//     li
//       img(src="#{img.url}")

p I have #{ponies.length} ponies in store

div(id='galery')

script(type="text/javascript", src="./zepto.js")
script(type="text/javascript", src="./lodash.underscore.js")
script(type="text/javascript", src="./linear-partition.js")
script(type="text/javascript", src="./galery.js")
